@import "compass/css3/transition";

.star-ratings {
    display: inline-block;
    position: relative;

    ul {
        padding: 0;
        margin:0;
        white-space: nowrap;
        list-style: none outside none;
        overflow: hidden;

        li {
            display: inline-block;
        }
    }
}

.star-ratings-rating-full, .star-ratings-rating-empty {
    display: block;
    background: url('/static/star-ratin../img/images/stars.png') no-repeat;
}

.star-ratings-rating-foreground {
    top: 0;
    position: absolute;
    @include transition-property(width);
    @include transition-duration(0.15s);
    @include transition-timing-function(ease-in);
}

.star-ratings-rating-stars-container {
    display: inline-block;
    position: relative;
}
