{% extends 'base.html' %}

{% block content %}
  <ul>
    {% for usuario in usuarios %}
      <li>
          {{ usuario.username }}
          <br>{{ usuario.profile.nombre }} {{ usuario.profile.apellido }}
          <br>{{ usuario.email }}
          <br>{{ usuario.profile.localidad }}
          <br>{{ usuario.profile.empresa }}
          <br>{{ usuario.profile.producto }}
        <br>Estado: {{ usuario.is_active }}
        {% if not usuario.is_active %}
          <a href="/activar/{{ usuario.id }}">(ACTIVAR)
        {% elif not usuario.is_staff %}
          <a href="/desactivar/{{ usuario.id }}">(DESACTIVAR)
        {% endif %}</a>
      </li>

    {% endfor %}
  </ul>

{% endblock %}