{% extends 'base.html' %}
{% load static %}
{% load ratings %}
{% block content %}

<section class="seccion-archivos mostrar-archivo" style="padding-bottom: 40px">
  <h1>{{ archivo.nombre }}</h1>
  <hr>
  
  <div class="col-md-6">
   <img src="/{{ archivo.captura.url }}" height="100%" width="100%" alt="{{ archivo.nombre }}">
  </div>
 
  <div class="col-md-6 padding-top">
    <h3>Descripcion:</h3>
    <p class="descripcion">{{ archivo.descripcion }}</p>
    <hr>
    {% if user.is_authenticated and user.is_active %}
        <br><a href="/{{ archivo.archivo.url }}">descargar</a>
    {% else %}
        Para poder descargar este archivo debe estar Registrado y Habilitado en el Sitio
    {% endif %}
    
    
    
    <h3>Valoracion:</h3>
    {% ratings archivo %}
    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
    <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
    
    <h3>Comentarios</h3>
      <ul class="comentarios">
        {% for comentario in comentarios %}
          <li>{{ comentario.comentario }} - {{ comentario.usuario }} </li>
        {% endfor %}
      </ul>
  </div>
  
  <!-- Si esta loggeado Puede dejar comentarios -->
  {% if user.is_authenticated and user.is_active %}
      <form method="post">
          {% csrf_token %}
          {{ form }}
          <button type="submit">Comentar</button>
      </form>
  {% endif %}
</section>

{% endblock %}